@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  font-family: "Inter", sans-serif;
}

body {
  background: url(map_background.svg);
  background-attachment: fixed;
}

header {
  height: 150px;
  background-color: #008D6D;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 32px;

}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

a:visited,
a:link {
  color: #fff;
  text-decoration: none;
}

a:active,
a:hover {
  color: #F26645;
}

.main__title {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #008D6D;
  margin-bottom: 60px;
}

.main__video {
  background: url(video.png);
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.main__video--play {
  height: 100px;
  width: 100px;
}

.task-solution__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.task-solution__block {
  width: 570px;
  height: 600px;
  padding: 50px 50px 50px 75px;
  margin: 10px;
  background: #008D6D;
  border-radius: 0 35px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 28px;
  margin-bottom: 90px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.list__item {
  padding: 20px;
}

.moodboard__container {
  width: 80vw;
  background: #37B5FF;
  border-radius: 0 35px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 28px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 90px;


}

.moodboard__img--kids {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 60%;
}

.moodboard__img--map {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 40%;
}

footer {
  height: 120px;
  background-color: #008D6D;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.footer_p {
  padding: 10px 10px 0px 10px;
  text-align: center;
  font-weight: 700;
  
}

.footer_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img_mentee {
  z-index: 1;
  margin-right: -25px;
  width: 600px;
  height: 420px;
  border-radius: 0 35px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 80px;
}

.container_about {
  background-color: #0D84E8;
  width: 840px;
  height: 640px;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  padding: 50px 75px 50px 75px;
  margin-bottom: 80px;
  border-radius: 0 35px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.container_about--Anna {
  background-color: #0D84E8;
  width: 840px;
  height: 640px;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #fff;
  padding: 120px 75px 50px 75px;
  margin-bottom: 80px;
  border-radius: 0 35px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);

}

.container_p1 {
  margin-bottom: 50px;
}

.mentee_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  
}
